# Project exclude paths
# Ignora todas as pastas de saída de compilação do IntelliJ
**/out/
**/build/

# Ignora os arquivos compilados soltos (caso haja algum)
*.class

# Ignora pastas de configuração do ecossistema do projeto
/.gradle/
/.idea/


